In [7]:
import netCDF4
import pandas as pd

precip_nc_file = 'data\\tas_scenario_245\\tas_mon_mod_ssp245_192_000.nc'
nc = netCDF4.Dataset(precip_nc_file)
cols = list(nc.variables.keys())
list_nc = []
for c in cols:
    print(c, nc.variables[c])
    list_nc.append(list(nc.variables[c]))
df_nc = pd.DataFrame(list_nc)
df_nc = df_nc.T
df_nc.columns = cols
df_nc.to_csv("file_path.csv", index = False)

height <class 'netCDF4._netCDF4.Variable'>
float64 height()
    standard_name: height
    long_name: height
    units: m
    positive: up
    axis: Z
unlimited dimensions:
current shape = ()
filling on, default _FillValue of 9.969209968386869e+36 used

KeyboardInterrupt:

In [3]:
cols

['height', 'lat', 'lon', 'tas', 'time']

In [8]:
import xarray as xr
import pandas as pd

filename = 'data\\tas_scenario_245\\tas_mon_mod_ssp245_192_000.nc'
data = xr.open_dataset(filename)

data_df = data.to_dataframe().reset_index()
data_df

             lat      lon                time  height         tas
0        -89.375    0.000 1850-01-16 12:00:00     2.0  252.504318
1        -89.375    0.000 1850-02-15 00:00:00     2.0  236.253250
2        -89.375    0.000 1850-03-16 12:00:00     2.0  217.723312
3        -89.375    0.000 1850-04-16 00:00:00     2.0  213.946365
4        -89.375    0.000 1850-05-16 12:00:00     2.0  210.434448
...          ...      ...                 ...     ...         ...
83275771  89.375  358.125 2100-08-16 12:00:00     2.0  274.949463
83275772  89.375  358.125 2100-09-16 00:00:00     2.0  274.228302
83275773  89.375  358.125 2100-10-16 12:00:00     2.0  272.529755
83275774  89.375  358.125 2100-11-16 00:00:00     2.0  271.059570
83275775  89.375  358.125 2100-12-16 12:00:00     2.0  265.202423

[83275776 rows x 5 columns]

In [ ]:
filtered_df = data_df.loc[(data_df['time'].year.between(1950, 2100, inclusive=True)) & (data_df['lat'].between(-9, -44, inclusive=True)) & (data_df['lon'].between(, -44, inclusive=True))]